<!doctype html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
		<title>使用session做购物车练习</title>
		<script>
			function doChange(shopid,num){
				window.location.href="{% url 'changeshop'%}?shopid="+shopid+"&num="+num
			}
		</script>
	</head>
<body>
	<center>
	{% include "myweb/shop/menu.html" %}
	
    <h4>浏览购物车</h4>
	
    <table width="700" border="1">
		<tr>
			<th>商品id</th>
			<th>商品名称</th>
			<th>单价</th>
			<th>数量</th>
			<th>小计</th>
			<th>操作</th>
		</tr>
		{% for shop in request.session.shoplist.values %}
			<tr>
				<td>{{ shop.id }}</td>
				<td>{{ shop.name }}</td>
				<td>{{ shop.price }}</td>
				<td align="center"><input style="text-align:center;border:0px;" type="text" name="num" value="{{ shop.num }}" onblur="doChange({{shop.id}},this.value)" size="4"/></td>
				<td>{% widthratio  shop.price 1 shop.num %}</td>
				<td><a href="{% url 'delshop' shop.id %}">删除</a></td>
			</tr>
		{% endfor %}
    </table>
    
    <br/><br/>
	<img src="{% url 'showcode'%}"/>

	</center>
	<hr align="center" width="80%">

  </body>
</html>

