<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>upload pic</title>
</head>
<body>
	<center>
	{% include 'images/menu.html' %}
		<table width="900px" border="1px solid black">
			<tr>
				<th>id</th>
				<th>姓名</th>
				<th>年龄</th>
				<th>图片名称</th>
				<th>操作</th>
			</tr>
			{% for pic in piclist %}
			<tr>
				<td>{{pic.id}}</td>
				<td>{{pic.name}}</td>
				<td>{{pic.age}}</td>
				<td><img src="/static/pic/{{pic.picname}}" width="100" alt=""></td>
				<td>
					<a href="">edit</a>
					<a href="{% url 'delpic' pic.id%}">delete</a>
				</td>
			</tr>
			{% endfor %}
		</table>
	</center>
</body>
</html>