{% extends "myadmin/base.html" %}
{% load static from staticfiles %}

{%block block_name%}
				<div class="span9">
					<h1>
						添加商品
					</h1>
					<form action="{% url 'myadmin_insertgoods' %}" method="post" class="form-horizontal" enctype="multipart/form-data">
					{% csrf_token %}
						<fieldset>
							<legend>用户信息</legend>
							<div class="control-group">
								<label class="control-label" for="input01">商品名称</label>
								<div class="controls">
									<input type="text" class="input-xlarge" id="input01" name="goods" />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="input01">商品类别</label>
								<div class="controls">
									<select name="typeid">
										{% for vo in typelist %}
											<option 
											value="{{vo.id}}">{{vo.name}}</option>
										{% endfor %}

									</select>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="input01">生产厂商</label>
								<div class="controls">
									<input type="text" class="input-xlarge" id="input01" name="company" />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="input01">价格</label>
								<div class="controls">
									<input type="text" class="input-xlarge" id="input01" name="price" />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="input01">图片名称</label>
								<div class="controls">
									<input type="file" class="input-xlarge" id="input01" name="picname" />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="input01">数量</label>
								<div class="controls">
									<input type="text" class="input-xlarge" id="input01" name="num" />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="input01">点击数</label>
								<div class="controls">
									<input type="text" class="input-xlarge" id="input01" name="clicknum" />
								</div>
							</div><div class="control-group">
								<label class="control-label" for="input01">库存</label>
								<div class="controls">
									<input type="text" class="input-xlarge" id="input01" name="store" />
								</div>
							</div>
							
							<div class="control-group">
								<label class="control-label" for="input01">状态</label>
								<div class="controls">
									<input type="radio" class="input-xlarge" id="input01" value="1" name="status" />新添加
									<input type="radio" class="input-xlarge" id="input01" value="2" name="status" />在售
									<input type="radio" class="input-xlarge" id="input01" value="3" name="status" />已下架
								</div>
							</div>	
							<div class="control-group">
								<label class="control-label" for="input01">商品描述</label>
								<div class="controls">
									<textarea cols="40" style="width:450px" rows="10" name="descr"></textarea>
								</div>
							</div>
							<div class="form-actions">
								<button type="submit" class="btn btn-primary">Save</button> <button class="btn">Cancel</button>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
{% endblock %}