{% extends "myadmin/base.html" %}
{% load static from staticfiles %}
{% load dealwithtime %}

{%block block_name%}
				<div class="span9">
					<h1>
						订单
					</h1>
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>
									ID
								</th>
								<th>
									用户id
								</th>
								<th>
									联系人
								</th>
								<th>
									地址
								</th>
								<th>
									邮编
								</th>
								<th>
									联系电话
								</th>
								<th>
									总价
								</th>
								<th>
									添加时间
								</th>
								<th>
									状态
								</th>
								<th>
									操作
								</th>
							</tr>
						</thead>
						<tbody>
						{% for orders in orderslist %}
							<tr>
								<td>
									{{orders.id}}
								</td>
								<td>
									{{orders.uid}}
								</td>
								<td>
									{{orders.linkman}}
								</td>
								<td>
									{{orders.address}}
								</td>
								<td>
									{{orders.code}}
								</td>
								<td>
									{{orders.phone}}
								</td>
								<td>
									{{orders.total}}
								</td>
								<td>
									{{orders.addtime|dealwithtime}}
								</td>
								<td>
									{% if orders.status == 0 %}
										新添加
									{% elif orders.status == 1 %}
										已发货
									{% else %}
										已收货
									{% endif %}	
								</td>
								
								<td>
									<a href="{% url 'myadmin_editorders' orders.id %}"><button class="btn btn-success">详情</button></a>	
									<!-- <a href="javascript:doDel('{% url 'myadmin_deleteorders' orders.id %}');">删除</a> -->
								</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>				
					<div class="pagination">
					{%for pindex in plist%}
						<ul>
							<li><a href={% url 'myadmin_browseorders' pindex %}>{{pindex}}</a>&nbsp;&nbsp;&nbsp;&nbsp;</li>
						</ul>
					{% endfor %}
					</div>
				</div>
			</div>
{% endblock %}