{% extends "myadmin/base.html" %}
{% load static from staticfiles %}

{%block block_name%}
				<div class="span9">
					<h1>
						编辑用户信息
					</h1>
					<form action="{% url 'myadmin_updateuser' user.id %}" method="post" class="form-horizontal">
					{% csrf_token %}
						<fieldset>
							<legend>用户信息</legend>
							<div class="control-group">
								<label class="control-label" for="input01">用户名</label>
								<div class="controls">
									<input type="text" readonly="readonly" class="input-xlarge" id="input01" name="username" value="{{user.username}}" />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="input01">姓名</label>
								<div class="controls">
									<input type="text" class="input-xlarge" id="input01" name="name" value="{{user.name}}"/>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="input01">密码</label>
								<div class="controls">
									<input type="password" class="input-xlarge" id="input01" name="password" value="{{user.password}}"/>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="input01">性别</label>
								<div class="controls">
									<input type="text" class="input-xlarge" id="input01" name="sex" value="{{user.sex}}"/>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="input01">邮编</label>
								<div class="controls">
									<input type="text" class="input-xlarge" id="input01" name="code" value="{{user.code}}"/>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="input01">电话</label>
								<div class="controls">
									<input type="text" class="input-xlarge" id="input01" name="phone" value="{{user.phone}}"/>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="input01">邮箱</label>
								<div class="controls">
									<input type="text" class="input-xlarge" id="input01" name="email" value="{{user.email}}"/>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="input01">状态</label>
								<div class="controls">
									<input type="radio" class="input-xlarge" id="input01" value="1" name="status" 
									{% if status == 1 %}
										checked
									{% endif %} 
									/>启用
									<input type="radio" class="input-xlarge" id="input01" value="2" name="status" 
									{% if status == 2 %}
										checked
									{% endif %} 
									/>禁用
									<input type="radio" class="input-xlarge" id="input01" value="0" name="status" 
									{% if status == 0 %}
										checked
									{% endif %} 
									/>管理员
								</div>
							</div>		
							<div class="form-actions">
								<button type="submit" class="btn btn-primary">Save</button> <button class="btn">Cancel</button>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
{% endblock %}
