{% extends "myadmin/base.html" %}
{% load static from staticfiles %}

{%block block_name%}
				<div class="span9">
					<h1>
						后台管理
					</h1>
					<div class="hero-unit">
						<h1>
							Welcome!
						</h1>
						<p>
							To get the most out of Akira start with our 3 minute tour.
						</p>
						<p>
							<a href="help.htm" class="btn btn-primary btn-large">Start Tour</a> <a class="btn btn-large">No Thanks</a>
						</p>
					</div>
					<ul class="pager">
						<li class="next">
							<a href="activity.htm">More &rarr;</a>
						</li>
					</ul>
				</div>
			</div>
{% endblock %}