<!DOCTYPE html>
{% load static from staticfiles %}
<html lang="cn">
	<head>
		<meta charset="utf-8">
		<title>登录</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="{% static 'myadmin/css/bootstrap.min.css' %} " rel="stylesheet">
		<link href="{% static 'myadmin/css/bootstrap-responsive.min.css' %}" rel="stylesheet">
		<link href="{% static 'myadmin/css/site.css' %}" rel="stylesheet">
	</head>
	<body>
		<div id="login-page" class="container">
			<h1>商城管理登录</h1>
			<form id="login-form" class="well" action="{% url 'myadmin_dologin' %}" method="post">
			{% csrf_token %}
			<input type="text" class="span2" name="username" placeholder="用户名" /><br />
			<input type="password" class="span2" name="password" placeholder="密码" /><br />
			<label class="checkbox"> <input type="checkbox" /> Remember me </label>
			<button type="submit" class="btn btn-primary">登录</button>
			<button type="submit" class="btn">Forgot Password</button>
		</form>	
		<span>{{info}}</span>
		</div>
		<script src="{% static 'myadmin/js/jquery.min.js' %}"></script>
		<script src="{% static 'myadmin/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'myadmin/js/site.js' %}"></script>
	</body>
</html>