div,body,img,h1,nav,h2{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
body{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #F6F6F6;
}
@font-face {
    font-family: 'lato';
    src: url('../fonts/Lato-Regular.woff');

}
@font-face {
    font-family: 'latol';
    src: url('../fonts/lato-light.woff');
}
@font-face {
    font-family: 'minghei';
    src: url('../fonts/MYingHeiPRC-W3.woff');
}
/*导航栏*/
.pdd{
	padding: 0.45rem 0;
}


.pdd2{
	padding-left: 0.4rem;
	padding-right: 0.5rem;
}
.pdd3{
	width: 100%;
	padding-bottom: 0;
	background-color: #FDFDFD;
}
.pdd3 li{
 	height: 70px;
}
.pdd3 li a{
	padding-left: 0;
	padding-right: 0;
}
.pdd3 li:hover{
	border-bottom: 3px solid red;
}
.bgg{
	background: white;
	border: 0;
	border-radius: 0;
}
.lyc{
	width:47%;
}
.lyc li{
	width: 20%;
	text-align: center;
}
.logolyc{
	margin-left: 0.3rem;
}
#aa {
	float: right;
}
#aa li{
	display: inline-block;
}
 #aa ul{
	display: block;
}
@media(max-width:767px) { 
	 #aa {
    	position: absolute;
    	top:0px;
    	right: 72px;
		} 
	.lyc{
		width:100%;
	}
	.logolyc{
		padding-left: 0.25rem;
	}
	#aa #bb{
		display: none;
	}
}
.thumbnail:hover{
	padding:0 0.03rem;
	box-shadow: 0 0 0.5rem rgba(0,0,0,0.3);

}
#oplogo{
	margin-left: 0.75rem;
	height: 1.25rem;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	margin-right: 10rem;
}
.navbar{
	border:none;
	background: #FDFDFD;
}
.navibar{
	background: white;
	height: 2rem;
	line-height: 2rem;
}
.navia{
	padding-top: 0;
}
.navul{
	background-color: red;
}
.navibar ul{
	line-height: 2rem;
	margin-top: 0.5rem;
}
.naviss{
	display: block;
}

.naviR img{
	width: 0.6rem;
	margin-right: 1.25rem;
	margin-top: 0.3rem;
}
.sousuo{
	/*overflow: hidden;*/
	height: 1rem;
	width: 1rem;
/*	background-image: url(./public/images/icons-mb-2x-s43f2574365.png);
	background-repeat: no-repeat;
	background-position: 0px -42px;*/
}


@media (min-width:768px){
    .naviss{
    	display: none;
    }
}
.textS{
	position: absolute;
	top: 15%;
	right: 5%;
	display: block;
}
.textS a:hover{
	color: white;
}
.text{

}
.text h1{
	font-size: 1.4rem;
	margin-left: 1.25rem;
	font-family: 'latol'
}
.text2{
	/*position: absolute;*/
/*	top: 10%;
	left: 13%*/
	margin-top: 1.25rem;
}
.text2 h1{
	font-size: 1.25rem;
	margin-left: 1.25rem;
	font-family: 'minghei'
}
.text3{
	margin-top: 1.25rem;
}
.text3 h1{
	font-size: 1rem;
	margin-left: 1.25rem;
	font-family: 'latol'
}
.text3 span{
	font-size: 0.75rem;
	font-family: 'minghei'
}
.text4{
	border:1px solid black;
	width: 50%;
	height: 1.5rem;
	text-align: center;
	line-height: 1.5rem;
	margin-left: 1.25rem;
	margin-top: 0.75rem;
}
.text4 a{
	font-size: 0.5rem;
	color: black;
	text-decoration: none;
}
.text5{
	/*margin-left: 0.rem;*/
	margin-top: 1.25rem;
}
.text5 h1{
	font-size: 0.5rem;
	font-family:'minghei';
}
.text5 span{
	font-size: 0.4rem
}
.p3 img{
	/*height: 8.5rem;*/
	width: 100%;
}
.jiaobiao{
	position: absolute;
}
.jiaobiao h1{
	font-size: 18px;
	margin-top: 0.25rem;
	margin-left:1rem;

}
.p4 img{
	width: 100%;
}
.tutu{
	padding: 0;
	border:none;
	margin: 0;
}
.boke{
	margin: 0 1.0rem;
}
.p3 .tutu{
	padding: 0;
	margin: 0;
}
.soo{
	background-image: url(../images/b17a672f9d64abcf928b6bbdadec3248.jpg);
	background-position: center;
	background-repeat: no-repeat;
	/*background-attachment: fixed;*/
	width: 100%;
	height: 350px;
}

.wsz{
	height: 300px;
	width: 300px;
}
.qsz{
	/*width: 300px;*/
	/*height: 300px;*/
	background: white;
}
.qsz li{
	height: 20px;
}
.zhengge{

}
.shot{
	/*height: 300px;*/
}
.shot h1{
	line-height: 200px;
	text-align: center;
	font-size: 1.2rem;
	color: white;
	font-family: 'lato';
}
.wycj{
	/*background-color: rgba(0,0,0,0);*/
	background:rgba(0,0,0,0);
	border:2px solid white;
	width: 150px;
	height: 50px;
	color: white;
	
}
.wycj:hover{
	background:white;
	color: black;
}
.item1{
	height: 300px;
	background:black;
}
.item2{
	height: 300px;
	background:white;
}
.dsd{
	/*background:black;*/
}
.navitext{
	line-height: 50px;
	margin-left: 10px;
}
.navbarr{
	margin: 0;
}
.navbar{
	margin-bottom: 0;
	border-radius: 0;
}
.footermobile{

}
.lastfooter img{
	width: 80px;
	margin-left: 20px;
}
.lastfooter span{
	color: #9F9F9F;
	font-size: 12px;
	margin-left: 15px;
}
.jinghui img{
	width: 20px;
}
.jinghui span{
	color: #10181F;
	font-size: 12px;
}
.flag{
	float: right;
}
.flag img{
	width: 30px;
	margin-right: 20px;
}
#flagg{
	color: black;

}
.footerpc{
	height: 280px;
	background:white;
	display: none;
}
#fpc1{
	width: 100%;
	height: 270px;

}
#fpc1 h4{
	margin-left: 38px;
	color: #333333;
}
#fpc1 ul{
	list-style: none;
}
#fpc1 li{
	height: 30px;
}
#fpc1 a{
	color: #7A7A7A;
}
#fpc2{
	width: 100%;
	height: 270px;
	display: none;
}
#fpc2 h1{
	margin: 0;
}
#fpc2 button{
	border:1px solid black;
	background-color: white;
	width: 5rem;
	height: 1.5rem;
	color: #686D72;
}
#fpc2 span{
	margin-left: 0.5rem;
	font-size: 0.325rem
	color:#686D72;
}
@media (min-width:768px){
    .footerpc{
    	display: block;
    }
    .footermobile{
    	display: none;
    }
}
@media (min-width:990px){
    #fpc2{
    	display: block;
    }
}

/*商城*/
.tuijian{
	margin: 1.5rem 2.5rem;

}
.y1{
	height: 300px;
	margin-top: 0.5rem;
}
.rexiao{
	padding: 0rem 2.5rem;
}
.lmdz{
	text-align: center;
}
/*.texiao:hover{
	 -moz-box-shadow:1px 3px 20px #787878;
	  -webkit-box-shadow:1px 3px 20px #787878;
	  box-shadow:1px 3px 20px #787878;
}*/
/*商城根本做不出来的导航栏*/

.bukenenga{
	background-color: #F6F6F6;
	display: none;
}
.bukeneng{
	width: 800px;
	/*height: 200px;*/
	/*background-color: red;*/
	margin: 0 auto;
	text-align: center;
	line-height: 50px;
	color:#5D5D5D;
}
.hahaha{
	/*display: none;*/
	border-radius: 50%;
	background-color: #ccc;
	width: 50px;
	height: 50px;
	margin-top: 10px;
}
.bukeneng li{
	margin: 0;
	list-style: none;
	width: 120px;
	height: 100px;
	background-color: #F6F6F6;
	float: left;
}
.bukeneng a{
	text-decoration: none;
	color: #5D5D5D;
}
@media (min-width:990px){
    .bukenenga{
    	display: block;
    }
}

/*详情页*/
.yueyanhui{
	background: #DADCE2;
	width:100%;
	/*height: 800px;*/
}
.yyhtext1{
	text-align: center;
	margin: 0 auto;
}
.yueyanhui h2{
	margin: 0.25rem;
	font-family: 'latol';
}
.yueyanhui h2 nth-child(2){
	font-family: 'minghei'
}
.yueyanhui ul{
	list-style: none;
	width: 200px;
	height: 1.0rem;
	margin: 0 auto;
	padding: 0;
}
.yueyanhui li{
	float: left;
	margin: 0 auto;
	width: 60px;
	border-right: 1px solid #ccc;
	color: #9E9E9E;
	font-size: 0.4rem;
}
.yyhxz{
/*	height: 1.25rem;
	width: 5.0rem;*/
	text-align: center;
}
.huigedan{
	color: 
}
.yyhimg{
	width: 100%;
	text-align: center;
}
.yyhimg img{
	margin: 0 auto;
	width: 12.5rem;
}
/*照相机选项卡*/
.camerabkg{
	background-color: #E5E5E5;
}
.cameraxxk{
	display: none;
}
.cameraxxk2{
	display: block;
}
.camerase h4,h1{
	margin-left: 50px;
}
.cameraoption{
	margin-left: 0.5rem;
}
.cameraoptions{
	float: left;
	list-style: none;
}
.cameraoptions li{
	float: left;
	text-align: center;
	line-height: 37px;
	padding: 0 30px;
	padding-bottom: 10px;
	/*background: orange;*/
	cursor: pointer;
	border-bottom: 2px solid #ccc;
	color: #E5E5E5;
	font-size: 20px;
}
.cameracontent{
	border-top: none;
	text-align: left;
	line-height: 200px;
	padding: 10px;
	height: 200px;
}
.cameracontent li{
	color: black;
	font-size: 0.45rem;
	display: none;
	margin-left: 1.25rem;
}
.cameracontent .active{
	display: block;
}
.cameraoptions .active{
	/*height: 39px;*/
	border-bottom: 2px solid red;
	box-sizing: border-box;
	color: #E5E5E5;
}
.camerapic img{
	margin-left: 120px;

}
@media (min-width:990px){
    .cameraxxk{
    	display: block;
    }
}
@media (min-width:990px){
    .cameraxxk2{
    	display: none;
    }
}







/*右侧选项卡*/
.rightxxk{
	display: none;
}
.rightxxk2{
	display: block;
}
.rightse h4,h1{
	margin-left: 50px;
}
.rightoption{
	margin-left: 0.5rem;
}
.rightoptions{
	float: left;
	list-style: none;
}
.rightoptions li{
	float: left;
	text-align: center;
	line-height: 37px;
	padding: 0 30px;
	padding-bottom: 10px;
	/*background: orange;*/
	cursor: pointer;
	border-bottom: 2px solid #ccc;
	color: #F6F6F6;
	font-size: 20px;
}
.rightcontent{
	border-top: none;
	text-align: left;
	line-height: 200px;
	padding: 10px;
	height: 200px;
}
.rightcontent li{
	color: black;
	font-size: 0.45rem;
	display: none;
	margin-left: 1.25rem;
}
.rightcontent .active{
	display: block;
}
.rightoptions .active{
	/*height: 39px;*/
	border-bottom: 2px solid red;
	box-sizing: border-box;
	color: #F6F6F6;
}
@media (min-width:990px){
    .rightxxk{
    	display: block;
    }
}
@media (min-width:990px){
    .rightxxk2{
    	display: none;
    }
}



.daohang1, .daohang2{
	margin-bottom: 0px;
}
.daohangg2{
	height:50px; 
}
.daohang2{
	display: none;
}
.daohang2 .navbar{
	background-color: #F8F8F9;
}

.lkgm{
	height: 1.25rem;
	width: 4rem;
	border:none;
	background: #EB0028;
	color: white;
}
/*导航栏2移动端*/
.dh2mobile{
	display: block;
}
.dh2mobileleft{
	padding-left: 30px;
	text-align: left;
	width: 100%;
	background-color: rgba(255,255,255,0.7);
	height: 50px;
	line-height: 50px;
}
.dh2mobileright{
	color: white;
	text-align: center;
	float: left;
	width: 100%;
	background-color: #EB0028;
	height: 50px;
	line-height: 50px;
}
@media (min-width:990px){
    .dh2mobile{
    	display: none;
    }
}






/*众多特性选项卡*/
.zdtx{
	display: none;
}
.all{
	margin: 50px auto;
	width: 1000px;
}
.optop{
	width: 800px;
	text-align: center;
	margin: 0 auto;

}
.optop ul{
	list-style: none;
	margin-left:190px;
	padding: 0;
}
.options{
	height: 38px;
	line-height: 38px;
	/*margin:0 200px;*/
}
.options li{
	float: left;
	text-align: center;
	line-height: 37px;
	padding: 0 30px;
	padding-bottom: 10px;
	/*background: orange;*/
	cursor: pointer;
	border-bottom: 2px solid #ccc;
	color: #B2B2B2;
	font-size: 20px;
}
.content{
	border-top: none;
	text-align: center;
	line-height: 200px;
	padding: 10px;
	height: 200px;

}
.content li{
	display: none;
	color: #727272;
	font-size: 16px;

}
.content .active{
	display: block;
}
.options .active{
	/*height: 39px;*/
	border-bottom: 2px solid red;
	box-sizing: border-box;
	color: red;
}
.xuanxiangka{
	text-align: center;
}
@media (min-width:990px){
    .zdtx{
    	display: block;
    }
}

@media (min-width:990px){
    .daohang2{
    	display: block;
    }
}

/*登陆页面*/
.form-control{
	border-radius: 0;
	border:none;
}
.login{
	background-color: #E5E5E5;
	display: none;
}
.login2{
	width: 740px;
	height: 365px;
	background-color: #EFEFEF;
	margin-top: 60px;
	margin-bottom: 60px;
}
.login3{
	width: 640px;
	height: 305px;
	/*border:1px solid black;*/
	margin-top: 30px;
	margin-bottom: 30px;
}
.loginhead{
	padding: 20px 0;
	font-size: 16px;
	width: 300px;
	height: 56px;
}
.loginname{
	width: 300px;
	height: 50px;
}
.forgetpw{
	text-align: right;
	width: 300px;
	height: 56px;
}
.forgetpwa{
	text-decoration: none;
}
.tijiao{
	width: 300px;
	height: 56px;
}
.tijiao button{
	width:100%;
	height: 100%;
	border:none;
	background-color: #EB0028;
	color: white;
}
.tijiao button:hover{
	background-color: #D70000;
}
.otherlogin{
	float: right;
	padding: 20px 0;
	font-size: 16px;
	width: 290px;
	height: 50px;
}
.qqlogin{
	width: 300px;
	height: 46px;
	/*background-color: red;*/
	float: right;
}
.wblogin{
	width: 300px;
	height: 56px;
	/*background-color: red;*/
	float: right;
}
.loginM{
	height: 550px;
	background-color: #EFEFEF;
	display: block;
}
.loginotherM{
	height: 250px;
	background-color: #EFEFEF;
	padding: 40px 20px;

}
.erzi{
	height: 450px;
	width: 300px;
	background-color: #EFEFEF;
	margin:0 auto;
	margin-top: 40px;
	/*text-align: center;*/
}
.denglu{
	font-size: 18px;
	width: 300px;
	height: 56px;
	text-align: left;
	line-height: 56px;
}
.loginnameM{
	width: 300px;
	height: 56px;
}
.forgetM{
	text-align: right;
	margin-top: 20px;
}
.tijiaoM{
	width: 300px;
	height: 60px;
}
.tijiaoM button{
	width:100%;
	height: 100%;
	border:none;
	background-color: #EB0028;
	color: white;
}
.signupM{
	margin-top: 10px;
	text-align: right;
}
.tijiaoM{
	margin-top: 15px;
}
.otherM{
	font-size: 18px;
	width: 300px;
	height: 56px;
	text-align: left;
	line-height: 56px;
}
.wbloginM{
	margin-top: 10px;
}
.myzc{
	width: 300px;
	height: 10px;
	margin-top: 5px;

}
.loginpasswordM{
	margin-top: 18px;
}

@media (min-width:990px){
    .login{
    	display: block;
    }
}
@media (min-width:990px){
    .loginM{
    	display: none;
    }
}


/*购物车*/
.shopchart{
	width: 100%;
	height: 500px;
	background-color: #FFFFFF;
}
.labell{
	width: 100%;
	height: 50px;
	background-color: #34373D;
}
.mysp{
	width: 300px;
	margin: 0 auto;
}
.gwcmysp{
	text-align: center;
}
.qgw{
	width: 200px;
	height: 50px;
	margin-top: 50px;
}
.qgw button{
	/*border-radius: 10%;*/
	width: 100%;
	height: 100%;
	border:1px solid #EB0028;
	color: #EB0028;
	background-color: #FFFFFF;
}
.qgw button:hover{
	background-color: #EB0028;
	color: white;
}
.fuwua{
	margin-top: 80px;
	display: none;
}
@media (min-width:990px){
    .shopchart{
    	height: 900px;
    }
}
@media (min-width:990px){
    .fuwua{
    	display: block;
	}
}
.jianjiao{
	margin-left: 50px;
}
@media (min-width:990px){
    .jianjiao{
    	margin-left: 0px;
    }
}
.bianfuxia{
	display: none;
}
@media (min-width:990px){
    .bianfuxia{
    	display: block;
    }
}


/*注册页面*/

.zhucewbl{
	width: 300px;
	height: 30px;
	/*text-align: right;*/
}
.youdenglu{
	margin-top: 5px;
	width: 300px;
	height: 10px;
	text-align: right;
}

















