{% extends "myweb/base.html" %}
{% load static from staticfiles %}

{%block block_name%}
	<!-- 大图 -->
	<div class="row clearfix">
		<div class="col-md-12 column">
			<img src="{% static "myweb/images/4d71e5a65c85918264f7cbfe698ce773.jpg" %}" alt="" width="100%">
			<div class="row clearfix">
				<div class="textS">
					<div class="col-md-12 jianjiao">
						<div class="text">
							<h1>OnePlus 5</h1>
						</div>
						<div class="text2">
							<h1>高清双摄 就是清晰</h1>
						</div>
						<div class="text3">
							<h1>￥2999<span>起</span></h1>
						</div>
						<div class="text4">
							<a href="">了解更多</a>
						</div>
						<div class="text5">
							<h1>骁龙 <span>835</span> 处理器 | <span>6/8GB</span> 大内存| <span>Dash </span>闪充</h1>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- 三小图 -->
	<div class="row clearfix p3" >
		<div class="col-md-4 col-sm-4 col-xs-12 column texiao tutu">
		<div class="jiaobiao">
			<h1>&nbsp;&nbsp;开学好机惠</h1>
		</div>
		<img src="{% static "myweb/images/0584cfce59c811939a3ef2b326f85029.png" %}" width="100%" alt="">
		</div>
		<div class="col-md-4 col-sm-4 col-xs-12 column texiao tutu">
		<div class="jiaobiao">
			<h1>&nbsp;&nbsp;手把手教你玩转H2OS</h1>
		</div>
		<img src="{% static "myweb/images/ae99ddeb9a57da7b03de03835b38b2b2.jpg" %}" width="100%" alt="">
		</div>
		<div class="col-md-4 col-sm-4 col-xs-12 column texiao tutu">
		<div class="jiaobiao">
			<h1>&nbsp;&nbsp;以旧换新</h1>
		</div>
		<img src="{% static "myweb/images/308300d41d7cdf7bd253bf7ffe4f5f9b.jpg" %}" width="100%" alt="">
		</div>
	</div>
	<!-- 大图 -->
	<div class="row clearfix p4">
		<div class="col-md-12 column">
			<div class="soo">
				<div class="shot center-block">
					<h1>Shot On OnePlus</h1>
					<button class="center-block wycj">我要参加</button>
				</div>
			</div>
			<!-- <img src="{% static "myweb/images/b17a672f9d64abcf928b6bbdadec3248.jpg" %}" alt=""> -->
		</div>
	</div>
	<br>
	<br>
	<br>
	<br>
	<!-- 三图 -->
	<div class="row clearfix boke">

		<div class="col-md-4 col-sm-4 col-xs-12">
			<div class="thumbnail tutu texiao">
   		      <img  src="{% static "myweb/images/119efdba34cb4526796cb9999ce52fa1.jpg" %}" width="100%" alt="...">
   		      	<div class="caption">
   		        	<p><strong>博客</strong></p>
   		        	<p>有口皆碑月岩灰</p>
   		        	<br>
   		        	<br>
   		      	</div>
   		    </div>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-12">
			<div class="thumbnail tutu texiao">
   		      <img  src="{% static "myweb/images/3f8341403c8d1ad799e98bc763dcdab7.jpg" %}" width="100%" alt="...">
   		      	<div class="caption">
   		        	<p><strong>新闻</strong></p>
   		        	<p>OnePlus 5 的媒体评测汇总</p>
   		        	<br>
   		        	<br>
   		      	</div>
   		    </div>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-12">
			<div class="thumbnail tutu texiao">
   		      <img  src="{% static "myweb/images/4ddc418852344d19f798c3b4e055e150.jpg" %}" width="100%" alt="...">
   		      	<div class="caption">
   		        	<p><strong>视频</strong></p>
   		        	<p>OnePlus 5 新品发布会</p>
   		        	<br>
   		        	<br>
   		        	
   		      	</div>
   		    </div>
		</div>
	</div>
	<br>
	<br>
{%endblock%}