{% extends "myweb/base.html" %}
{% load static from staticfiles %}

{%block block_name%}
<!-- 注册页 -->

<!-- 注册框 pc端-->
    <div class="row clearfix login">
        <div class="col-md-12 column login1">
            <div class="login2 center-block clearfix">
                <div class="login3 center-block clearfix">
                    <form action="">
                        <div class="otherlogin">选择其他方式登录</div>
                        <div class="loginhead clearfix">注 册</div>
                        <div class="qqlogin">
                            <a href=""><img src="{% static "myweb/images/qqlogin.png" %}" width="100%" alt=""></a>
                        </div>
                        
                        <div class="loginname">
                            <input name="email" type="text" class="form-control" id="name" placeholder="请输入邮箱">
                        </div>
                        <div class="wblogin">
                            <a href=""><img src="{% static "myweb/images/wblogin.png" %}" width="100%" alt=""></a>
                        </div>
                        <div class="loginname">
                            <input name="password" type="password" class="form-control" id="name" placeholder="密码6~16位,数字/字母/字符至少两种">
                        </div>
                        <div class="loginname">
                            <input name="password" type="password" class="form-control" id="name" placeholder="确认密码">
                        </div>
                        <div class="zhucewbl"><a>注册一加，即表示您同意一加的 用户协议</a></div>
                        <div class="tijiao">
                            <button>注册</button>
                        </div>
                        <div class="youdenglu"><a href="{% url 'login' %}">登录▶</a></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- 注册框 移动端 -->
    <div class="row clearfix">
        <div class="col-xs-12">
            <div class="loginM clearfix">
                <div class="erzi">
                    <form action="">
                        <div class="denglu">注册</div>
                        <div class="loginnameM"><input name="email" type="text" class="form-control" id="name" placeholder="请输入邮箱"></div>
                        <div class="loginpasswordM2"><input name="password" type="password" class="form-control" id="name" placeholder="密码6~16位,数字/字母/字符至少两种"></div>
                        <div class="loginpasswordM"><input name="password" type="password" class="form-control" id="name" placeholder="确认密码"></div>
                        <div class="tijiaoM">
                            <button>注册</button>
                        </div>
                        <div class="signupM"><a href="{% url 'login' %}">登录▶</a></div>
                        <div class="otherM">选择其他方式登陆</div>
                        <div><img src="{% static "myweb/images/qqlogin.png" %}" alt="" width="100%"></div>
                        <div class="wbloginM"><img src="{% static "myweb/images/wblogin.png" %}" alt="" width="100%"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{%endblock%}