{% extends "myweb/base.html" %}
{% load static from staticfiles %}

{%block block_name%}
<!-- 注册页 -->

<!-- 注册框 pc端-->
    <div class="row clearfix login">
        <div style="width:100%; height:50px; background-color:#34373C;"></div>
        <div class="col-md-12 column login1">
            <div class="login2 center-block clearfix">
                <div class="login3 center-block clearfix">
                    <center>
                        <h1>{{info}}</h1>

                    </center>
                </div>
            </div>
        </div>
        <img src="{% static "myweb/images/zhizuozhenqijian.jpg" %}" width="100%" alt="">
    </div>
{%endblock%}