{% extends "myweb/base.html" %}
{% load static from staticfiles %}

{%block block_name%}
    <!-- 登录框 pc端-->
    <div class="row clearfix login">
        <div class="col-md-12 column login1">
            <div class="login2 center-block clearfix">
                <div class="login3 center-block clearfix">
                    <form id="userlogin" action="{% url 'dologin' %}" method="post">
                    {% csrf_token %}
                        <div class="otherlogin">选择其他方式登录</div>
                        <div class="loginhead clearfix">登 录</div>
                        <div class="qqlogin">
                            <a href=""><img src="{% static "myweb/images/qqlogin.png" %}" width="100%" alt=""></a>
                        </div>
                        
                        <div class="loginname">
                            <input name="username" type="text" class="form-control" id="name" placeholder="手机,邮箱或用户名">
                        </div>
                        <div class="wblogin">
                            <a href=""><img src="{% static "myweb/images/wblogin.png" %}" width="100%" alt=""></a>
                        </div>
                        <div class="loginname">
                            <input name="password" type="password" class="form-control" id="name" placeholder="密码">
                        </div>
                        <div class="loginname">
                            <input style="width:150px;height:30px;margin-right:10px;border:none;" type="text" class="span2" name="code2" id="ccc" placeholder="  验证码" /><span><img id="ci" src="{% url 'myweb_verifycode'%}" onclick="this.src='{% url 'myweb_verifycode' %}?id='+Math.random() "/></span>
                        </div>
                        <span style="color:red;margin-left:120px;">{{info}}</span>
{#                         <div class="forgetpw"><a>忘记密码</a></div> #}
                        <div class="tijiao">
                            <button type="submit">确认</button>
                        </div>
                        <div class="myzc"><span>没有一加账户?</span><a href="{% url 'register' %}">立即注册</a></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- 登录框 移动端 -->
    <div class="row clearfix">
        <div class="col-xs-12">
            <div class="loginM clearfix">
                <div class="erzi">
                    <form id="userlogin" action="{% url 'dologin' %}" method="post">
                    {% csrf_token %}
                        <div class="denglu">登录</div>
                        <div class="loginnameM"><input name="username" type="text" class="form-control" id="name" placeholder="手机,邮箱或用户名"></div>
                        <div class="loginpasswordM"><input name="password" type="password" class="form-control" id="name" placeholder="密码"></div>
                        <br>
                        <div class="loginnameM" style="border:none;">
                            <input type="text" class="span2" name="code2" id="ccc" placeholder="  验证码" /><span><img id="ci" src="{% url 'myweb_verifycode'%}" onclick="this.src='{% url 'myweb_verifycode' %}?id='+Math.random() "/></span>
                        </div>
                        <div class="forgetM">忘记密码</div>
                        <div class="tijiaoM">
                            <button type="submit">确认</button>
                        </div>
                        
                        
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    // 表单验证
//声明全局变量
    var NameOk = false;
    var PassOk = false;
    var Pass2Ok = false;
    var EmailOk = false;

    //获取焦点事件 focus
    $('input').focus(function(){
        //获取焦点时,给予提示信息
        var at = $(this).attr('readme');
        $(this).next('span').html(at).css('color','blue');
        // $(this).css('border','1px solid blue');
    })

    //用户名验证
    $('input[name=username]').blur(function(){
        console.log(321)
        //获取用户的输入信息
        var v = $(this).val();
        var reg = /^\w{6,18}$/;
        if(reg.test(v)){
            // $(this).next('span').html('√').css('color','green');
            $(this).css('border','1px solid green');
            //修改全局变量
            NameOk = true;
            console.log(312)
        }else{
            // $(this).next('span').html('用户名格式不正确').css('color','red');
            $(this).css('border','1px solid red');
            //修改全局变量
            NameOk = false;
        }
    })
    //密码验证
    $('input[name=password]').blur(function(){
        //获取用户的输入信息
         var v = $(this).val();
        // console.log(v)
        var reg = /^\w{6,18}$/;
        if(reg.test(v)){
            console.log(1111)
            // $(this).next('span').html('√').css('color','green');
            $(this).css('border','1px solid green');
            //修改全局变量
            PassOk = true;
        }else{
            // $(this).next('span').html('密码格式不正确').css('color','red');
            $(this).css('border','1px solid red');
                //修改全局变量
            PassOk = false;
        }
    })

    $('input[name=password2]').blur(function(){
        //获取用户的输入信息
        var v2 = $(this).val();
        // console.log(v)
        var reg = /^\w{6,18}$/;
        if(reg.test(v2)){
            // $(this).next('span').html('√').css('color','green');
            $(this).css('border','1px solid green');
            //修改全局变量
            Pass2Ok = true;
        }else{
            // $(this).next('span').html('密码格式不正确').css('color','red');
            $(this).css('border','1px solid red');
                //修改全局变量
            Pass2Ok = false;
        }
    })

    
    //  //邮箱验证
    // $('input[name=email]').blur(function(){
    //  //获取用户的输入信息
    //  var v = $(this).val();
    //  var reg = /^\w+@\w+\.(com|cn|org|net)$/;
    //  if(reg.test(v)){
    //      $(this).next('span').html('√').css('color','green');
    //      $(this).css('border','1px solid green');
    //      //修改全局变量
    //      EmailOk = true;
    //  }else{
    //      $(this).next('span').html('邮箱格式不正确').css('color','red');
    //      $(this).css('border','1px solid red');
    //      //修改全局变量
    //      EmailOk = false;
    //  }
    // })

    

    // 提交验证
    $('form').submit(function(){
        console.log(NameOk,PassOk)
        //触发input 丧失焦点事件
        // $('input').trigger('blur');

        //判断如果都正确
        if(NameOk && PassOk ){
            return true;
            console.log('zhen')
        }
        //阻止默认行为
        return false;
        console.log('jia')
    })
    </script>
{%endblock%}