{% extends "myweb/personal.html" %}
{% load static from staticfiles %}
{% load dealwithtime %}
{% block content %}
	<h1>
		我的订单
	</h1>
	<table class="mui-table  table-hover">
						<thead>
							<tr>
								<th>
									收件人
								</th>
								<th>
									收货地址
								</th>
								<th>
									邮编
								</th>
								<th>
									收件人电话
								</th>
								<th>
									订单总价
								</th>
								<th>
									下单时间
								</th>
								<th>
									状态
								</th>
								<th>
									操作
								</th>
							</tr>
						</thead>
						<tbody>
						{% for orders in orderlist %}
							<tr>
								<td>
									{{orders.linkman}}
								</td>
								<td>
									{{orders.address}}
								</td>
								<td>
									{{orders.code}}
								</td>
								<td>
									{{orders.phone}}
								</td>
								<td>
									{{orders.total}}
								</td>
								<td>
									{{orders.addtime|dealwithtime}}
								</td>
								<td>
									{% if orders.status == 0 %}
										未发货
									{% elif orders.status == 1 %}
										已发货
									{% else %}
										已收货
									{% endif %}	
								</td>
								
								<td>
									<a href="{% url 'orderdetail' orders.id %}"><button class="mui-btn mui-btn--small  mui-btn--primary mui-btn--raised">订单详情</button></a>	
									
									{% if orders.status == 0  %}
									<a href="sdfsdfsd"><button class="mui-btn mui-btn--small mui-btn--danger mui-btn--raised">取消订单</button></a>
									{% elif orders.status == 1 %}
									<a href="javascript:void(0)" class="airmax"><span class="hidden">{% url 'got' orders.id %}</span><button class="mui-btn mui-btn--small mui-btn--danger mui-btn--raised">确认收货</button></a>
									{% else %}
									<a href="#"><button class="mui-btn mui-btn--small mui-btn--danger mui-btn--raised">申请售后</button></a>
									{% endif %}	
								
								</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>	
					<script type="text/javascript">
					$('.airmax').click(function(){
						if(confirm('请在收到货物之后再确认收货?')){
							window.location = $(this).find('span').html()
						}
						else{
							return 
						}
					})
					</script>			
{% endblock %}