{% extends "myweb/base.html" %}
{% load static from staticfiles %}

{%block block_name%}
    <!-- 导航栏2 -->
    <div class="row clearfix bukenenga">
        <div class="bukeneng">
            <ul>
                <li value="1">
                    <div class="center-block hahaha" >
                        <img id="a1" src="{% static "myweb/images/shoujib.png" %}" alt="" width="30px">
                    </div>
                    <div><a href="{% url 'list' 1 %}">手机</a></div>
                </li>
                <li value="2">
                    <div class="center-block hahaha">
                        <img id="a2" src="{% static "myweb/images/erjib.png" %}" alt="" width="30px">
                    </div>
                    <div><a href="{% url 'list' 2 %}">耳机/音响</a></div>
                </li>
                <li value="3">
                    <div class="center-block hahaha">
                        <img id="a3" src="{% static "myweb/images/keb.png" %}" alt="" width="30px">
                    </div>
                    <div><a href="{% url 'list' 3 %}">壳/后盖/膜</a></div>
                </li>
                <li value="4">
                    <div class="center-block hahaha">
                        <img id="a4" src="{% static "myweb/images/xianb.png" %}" alt="" width="30px">
                    </div>
                    <div><a href="{% url 'list' 4 %}">适配器/数据线</a></div>
                </li>
                <li value="5">
                    <div class="center-block hahaha">
                        <img id="a5" src="{% static "myweb/images/taozhuangb.png" %}" alt="" width="30px">
                    </div>
                    <div><a href="{% url 'list' 5 %}">套装</a></div>
                </li>
                <li value="6">
                    <div class="center-block hahaha">
                        <img id="a6" src="{% static "myweb/images/baob.png" %}" alt="" width="30px">
                    </div>
                    <div><a href="{% url 'list' 6 %}">生活馆</a></div>
                </li>
            </ul>
        </div>
    </div>
    <!-- 大图 -->
    <div class="row clearfix">
        <div class="col-md-12 column">
        <img src="{% static "myweb/images/zhutuuu.png" %}" width="100%" alt="">
        </div>
    </div>
    <!-- 3个推荐 -->
    <div class="row clearfix tuijian">
        <div class="col-md-4 column">
              <img class="tutu" width="100%" src="{% static "myweb/images/ChargerBundle0719-large.png" %}" alt="...">
        </div>
        <div class="col-md-4 column">
            <img class="tutu" width="100%" src="{% static "myweb/images/Bundle0719-large.png" %}" alt="...">
        </div>
        <div class="col-md-4 column">
            <img class="tutu" width="100%" src="{% static "myweb/images/Backpack0719-large.png" %}" alt="...">
        </div>
    </div>
    <!-- 热销配件 -->
    <div class="row clearfix rexiao">
    <h3>OnePlus 5 热销配件</h3>
    <br>
        <div class="col-md-3 column col-xs-6">
            <div class="thumbnail tutu y1 texiao">
                <img class="tutu" src="{% static "myweb/images/008cf2ac720e98dc533ad6d741085284_200_200.png" %}" alt="...">
                <div class="caption lmdz">
                    <p><strong>OnePlus 5 个性保护套</strong></p>
                    <p>￥99.00</p>
                    
                </div>
            </div>
        </div>
        <div class="col-md-3 column col-xs-6">
            <div class="thumbnail tutu y1 texiao">
                <img class="tutu" src="{% static "myweb/images/996eb762bc4ef18c498a09e700aac5ef_200_200.png" %}" alt="...">
                <div class="caption lmdz">
                    <p><strong>一加银耳</strong></p>
                    <p>￥199.00</p>
                    
                </div>
            </div>
        </div>
        <div class="col-md-3 column col-xs-6">
            <div class="thumbnail tutu y1 texiao">
                <img class="tutu" src="{% static "myweb/images/b84af19f6c22d75b6d20adeb870764c6_200_200.png" %}" alt="...">
                <div class="caption lmdz">
                    <p><strong>一加车载Dush闪充</strong></p>
                    <p>￥199.00</p>
                    
                </div>
            </div>
        </div>
        <div class="col-md-3 column col-xs-6">
            <div class="thumbnail tutu y1 texiao">
                <img class="tutu" src="{% static "myweb/images/1b15a9b6f078f00eaee343f1ae194fe9_200_200.png" %}" alt="...">
                <div class="caption lmdz">
                    <p><strong>碳纤维全包保护壳</strong></p>
                    <p>￥199.00</p>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- 生活周边 -->
    <div class="row clearfix rexiao">
        <h3>一加生活周边</h3>
    <br>
        <div class="col-md-3 column col-xs-6">
            <div class="thumbnail tutu y1 texiao">
                <img class="tutu" src="{% static "myweb/images/6e9d4458ee0f0f86c9e5dcfd2d577ee1_200_200.png" %}" alt="...">
                <div class="caption lmdz">
                    <p><strong>一加旅行双肩包</strong></p>
                    <p>￥399.00</p>
                    
                </div>
            </div>
        </div>
        <div class="col-md-3 column col-xs-6">
            <div class="thumbnail tutu y1 texiao">
                <img class="tutu" src="{% static "myweb/images/7cd98f81247429c3de439d3c18e4d44e_200_200.png" %}" alt="...">
                <div class="caption lmdz">
                    <p><strong>学魔套装</strong></p>
                    <p>￥169.00 | <del>￥237.00</del></p>
                    
                </div>
            </div>
        </div>
        <div class="col-md-3 column col-xs-6">
            <div class="thumbnail tutu y1 texiao">
                <img class="tutu" src="{% static "myweb/images/91687f3c253a9dd5169374fcc109aa36_200_200.png" %}" alt="...">
                <div class="caption lmdz">
                    <p><strong>一加真皮钱包</strong></p>
                    <p>￥249.00</p>
                    
                </div>
            </div>
        </div>
        <div class="col-md-3 column col-xs-6">
            <div class="thumbnail tutu y1 texiao">
                <img class="tutu" src="{% static "myweb/images/80de38bd67ea73ef5c082c08e3537dec_200_200.png" %}" alt="...">
                <div class="caption lmdz">
                    <p><strong>一加旅行袋</strong></p>
                    <p>￥299.00</p>
                    
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <!-- 用户权益 -->
    <div class="row clearfix">
        <div class="col-md-12 column">
        <img src="{% static "myweb/images/fuwu.png" %}" width="100%" alt="">
        </div>

        </div>
    </div>
</div>

{%endblock%}