{% extends "myweb/personal.html" %}
{% load static from staticfiles %}
{% block content %}
	<h1>
		安全中心
	</h1>
	<form action="{% url 'changepassword' %}" method="post" class="mui-form">
	{% csrf_token %}
		<fieldset>
			<legend>更改密码</legend>
			<div class="control-group">
				<label class="control-label" for="input01">原始密码</label>
				<div class="mui-textfield">
					<input type="password"  id="input01" name="oldpassword" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01">新密码</label>
				<div class="mui-textfield">
					<input type="password" class="input-xlarge" id="input01" name="newpassword1" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01">确认密码</label>
				<div class="mui-textfield">
					<input type="password" class="input-xlarge" id="input01" name="newpassword2"/>
				</div>
			</div>
            <center><span style="color:red;">{{info}}</span></center>
			<button class="mui-btn mui-btn--raised">保存</button>
	</form>
 	<script type="text/javascript">
    // 表单验证
    //声明全局变量
    var NameOk = false;
    var PassOk = false;
    var Pass2Ok = false;
    var EmailOk = false;

    //获取焦点事件 focus
    $('input').focus(function(){
        //获取焦点时,给予提示信息
        var at = $(this).attr('readme');
        // $(this).next('span').html(at).css('color','blue');
        // $(this).css('border','1px solid blue');
    })

    //用户名验证
    $('input[name=oldpassword]').blur(function(){
        console.log(321)
        //获取用户的输入信息
        var v = $(this).val();
        var reg = /^\w{6,18}$/;
        if(reg.test(v)){
            // $(this).next('span').html('√').css('color','green');
            // $(this).css('border','1px solid green');
            //修改全局变量
            NameOk = true;
            console.log(312)
        }else{
            // $(this).next('span').html('用户名格式不正确').css('color','red');
            // $(this).css('border','1px solid red');
            //修改全局变量
            NameOk = false;
        }
    })
    //密码验证
    $('input[name=newpassword1]').blur(function(){
        //获取用户的输入信息
         var v = $(this).val();
        // console.log(v)
        var reg = /^\w{6,18}$/;
        if(reg.test(v)){
            console.log(1111)
            // $(this).next('span').html('√').css('color','green');
            // $(this).css('border','1px solid green');
            //修改全局变量
            PassOk = true;
        }else{
            // $(this).next('span').html('密码格式不正确').css('color','red');
            // $(this).css('border','1px solid red');
                //修改全局变量
            PassOk = false;
        }
    })

    $('input[name=newpassword2]').blur(function(){
        //获取用户的输入信息
        var v2 = $(this).val();
        // console.log(v)
        var reg = /^\w{6,18}$/;
        if(reg.test(v2)){
            // $(this).next('span').html('√').css('color','green');
            // $(this).css('border','1px solid green');
            //修改全局变量
            Pass2Ok = true;
        }else{
            // $(this).next('span').html('密码格式不正确').css('color','red');
            // $(this).css('border','1px solid red');
                //修改全局变量
            Pass2Ok = false;
        }
    })

    
    //  //邮箱验证
    // $('input[name=email]').blur(function(){
    //  //获取用户的输入信息
    //  var v = $(this).val();
    //  var reg = /^\w+@\w+\.(com|cn|org|net)$/;
    //  if(reg.test(v)){
    //      $(this).next('span').html('√').css('color','green');
    //      $(this).css('border','1px solid green');
    //      //修改全局变量
    //      EmailOk = true;
    //  }else{
    //      $(this).next('span').html('邮箱格式不正确').css('color','red');
    //      $(this).css('border','1px solid red');
    //      //修改全局变量
    //      EmailOk = false;
    //  }
    // })

    

    // 提交验证
    $('form').submit(function(){
        console.log(NameOk,PassOk)
        //触发input 丧失焦点事件
        // $('input').trigger('blur');

        //判断如果都正确
        if(NameOk && PassOk ){
            return true;
            console.log('zhen')
        }
        //阻止默认行为
        return false;
        console.log('jia')
    })
    </script>
{% endblock %}