{% extends "myadmin/base.html" %}
{% load static from staticfiles %}

{%block block_name%}
				<div class="span9">
					<h1>
						添加用户
					</h1>
					<form action="{% url 'myadmin_insertuser' %}" method="post" class="form-horizontal">
					{% csrf_token %}
						<fieldset>
							<legend>用户信息</legend>
							<div class="control-group">
								<label class="control-label" for="input01">用户名</label>
								<div class="controls">
									<input type="text" class="input-xlarge" id="input01" name="username" />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="input01">姓名</label>
								<div class="controls">
									<input type="text" class="input-xlarge" id="input01" name="name" />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="input01">密码</label>
								<div class="controls">
									<input type="text" class="input-xlarge" id="input01" name="password" />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="input01">性别</label>
								<div class="controls">
									<input type="text" class="input-xlarge" id="input01" name="sex" />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="input01">邮编</label>
								<div class="controls">
									<input type="text" class="input-xlarge" id="input01" name="code" />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="input01">电话</label>
								<div class="controls">
									<input type="text" class="input-xlarge" id="input01" name="phone" />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="input01">邮箱</label>
								<div class="controls">
									<input type="text" class="input-xlarge" id="input01" name="email" />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="input01">状态</label>
								<div class="controls">
									<input type="text" class="input-xlarge" id="input01" name="status" /><span>1:启用 2:禁用 0:后台管理员</span>	
								</div>
							</div>	

							<div class="form-actions">
								<button type="submit" class="btn btn-primary">Save</button> <button class="btn">Cancel</button>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
{% endblock %}
